@page "/"
@using Tesoro.Components

<AuthorizeView>

    <Authorized>
        <Principal/>

    </Authorized>

    <NotAuthorized>

        <p class="h2">
            Go and Save your Treasures, Go to Login...
        </p>

    </NotAuthorized>


</AuthorizeView>
